<div *ngIf="!roles" class="loadingDiv">
    <mat-progress-spinner mode="indeterminate" diameter=50></mat-progress-spinner>
</div>

<div class="noDataDiv" *ngIf="roles?.length === 0">
    Brak ról do wyświetlenia
</div>

<div class="rolesTableDiv"  *ngIf="roles">
    <div class="createDiv">
        <a mat-icon-button id="addBtn">
            <mat-icon mat-button routerLink="/roles/create" id="addBtn">add</mat-icon>
        </a>
    </div>
    <table id="rolesTab">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr *ngFor="let role of roles">
            <td>{{role.name}}</td>
            <td *ngIf="!role.description">No description</td>
            <td *ngIf="role.description">{{role.description}}</td>
            <td id="buttons">
                <div>
                <a mat-icon-button><mat-icon mat-button routerLink="/roles/edit/{{role.id}}">edit</mat-icon></a>
                <button mat-icon-button (click)="delete(role.id)"><mat-icon>delete</mat-icon></button>
                </div>
            </td>
        </tr>

    </table>
</div>
