
#usersTab {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #usersTab td, #usersTab th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #usersTab tr:nth-child(even){background-color: #f2f2f2;}
  
  #usersTab tr:hover {background-color: rgba(140, 167, 255, 0.185);}
  
  #usersTab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #6ba5e7;
    color: white;
  }

.usersTableDiv{
    margin-top: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.loadingDiv{
  margin-top: 100px;
}

mat-progress-spinner{
  margin: 0 auto;
}

#buttons {
  width: auto;
  width:80px;
  padding: 0;
  margin: 0;
}


.createDiv{
  float: right;
  margin-bottom: 20px;
  margin-right: 5px;
}

#addBtn{
  width: 48px;
  height: 48px;
  line-height: 46px;
  font-size: 48px;
}

