<div *ngIf="!users" class="loadingDiv">
    <mat-progress-spinner mode="indeterminate" diameter=50></mat-progress-spinner>
</div>

<div class="noDataDiv" *ngIf="users?.length === 0">
    Brak użytkowników
</div>

<div class="usersTableDiv"  *ngIf="users">
    <div class="createDiv">
        <a mat-icon-button id="addBtn"><mat-icon id="addBtn">add</mat-icon></a>
    </div>
    <table id="usersTab">
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Wiek</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Rola</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.Id}}</td>
            <td>{{user.Name}}</td>
            <td>{{user.SecondName}}</td>
            <td>{{user.Age}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Phone}}</td>
            <td>{{user.RoleName}}</td> 
            <td id="buttons">
                <div>
                <a mat-icon-button><mat-icon>edit</mat-icon></a>
                <a mat-icon-button><mat-icon>delete</mat-icon></a>
                </div>
            </td>
        </tr>

    </table>
</div>
